extends ../layout
include ../mixins/pagination
block content

  div.tab-container
    ul.nav.nav-tabs(role="tablist")
      li.active(role="presentation")
        a(href="/journal/entries/#{db}") Entries
      li(role="presentation")
        a(href="/journal/cleansheets/#{db}") Clean Sheets
      br

    div.tab-content
      div.mail-inbox
        div.head
          div.col-sm-6
            form.search-form(role="search" action="/#{template}/search/#{db}" method="get")
              div.input-group
                input.form-control(name="keywords" type="text" placeholder="Search" value="#{query?query:''}")
                span.input-group-btn
                  button.btn.btn-default(type="submit") Search...
          div.col-sm-6
            +pagination(1, pages, pageno, '/journal/search/' + db + '/', '?keywords=' + encodeURIComponent(query))

        div.mails
          each entry in data.data
            div.item
              div
                span.date.pull-right
                  if(entry._files)
                    i.fa.fa-paperclip
                  | #{moment(entry.__created).fromNowOrNow()}
                a(href="/journal/entry/#{db}/#{entry.__unid}")
                  h4.from #{entry.Subject}
                p.msg
                  span
                    | #{moment(entry.DiaryDate).format(config.dateformat)}
                    | &nbsp;
                  if (Array.isArray(entry.Categories))
                    each category in entry.Categories
                      a(href="/journal/category/#{db}/#{encodeURIComponent(category)}")
                        span.label.label-default #{category}
                      | &nbsp;
                  else
                    a(href="/journal/category/#{db}/#{encodeURIComponent(entry.Categories)}")
                      span.label.label-default #{entry.Categories}
