extends layout

block content
  div.row
    div.col-md-12
      form.form-horizontal(action="/resetpassword/#{email}/#{token}" method="post" id="register-form" data-toggle="validator")
        div.block-flat
          div.content
            div.form-group
              label.control-label(for="password") Please enter your new password
              input.form-control(type="password" name="password" id="password" placeholder="New Password" value="#{useremail}" autocomplete="off" data-error="Please enter a new password" required)
              div.help-block.with-errors
            div.form-group
              label.control-label(for="passwordconfirm") Please confirm your new password
              input.form-control(type="password" name="passwordconfirm" id="passwordconfirm" placeholder="Confirm Password" value="" autocomplete="off" data-error="Please confirm your new password" data-match="#password" data-match-error="The passwords do not match" required)
              div.help-block.with-errors

            if(error)
              div.alert.alert-danger.alert-white-alt.rounded
                div.icon
                  i.fa.fa-times-circle
                strong Error!
                | #{error}
            if(info)
              div.alert.alert-info.alert-white-alt.rounded
                div.icon
                  i.fa.fa-times-circle
                strong Info:&nbsp;
                | #{info}

          div.foot
            input.btn.btn-primary(type="submit" name="save" value="Reset Password")

block extrajs
