extends ../layout
include ../mixins/pagination
block content
  div.content
    div.mail-inbox
      div.head
        div.col-sm-6
          form.search-form(role="search" action="/#{template}/search/#{db}" method="get")
            div.input-group
              input.form-control(name="keywords" type="text" placeholder="Search" value="#{query?query:''}")
              span.input-group-btn
                button.btn.btn-default(type="submit") Search...
        div.col-sm-6
          +pagination(1, pages, pageno, '/teamroom/search/' + db + '/', '?keywords=' + query)

      div.mails
        each topic in data.data
          div.item
            div
              span.date.pull-right
                if(topic._files)
                  i.fa.fa-paperclip
                | #{moment(topic.__created).fromNowOrNow()}
              a(href="/teamroom/document/#{db}/#{topic.__unid}")
                h4.from #{topic.Subject}
              p.msg
                span
                  a.username(href="/teamroom/user/#{db}/#{encodeURIComponent(topic.From)}") #{formatNotesName(topic.From)}
                  | &nbsp;
                span
                  a(href="/teamroom/type/#{db}/#{encodeURIComponent(topic.DocType)}")
                    span.label.label-info #{topic.DocType}
                  | &nbsp;
                if (Array.isArray(topic.Categories))
                  each category in topic.Categories
                    a(href="/teamroom/category/#{db}/#{encodeURIComponent(category)}")
                      span.label.label-default #{category}
                    | &nbsp;
                else
                  a(href="/teamroom/category/#{db}/#{encodeURIComponent(topic.Categories)}")
                    span.label.label-default #{topic.Categories}
